/* content */
.content {
  position: absolute;
  bottom: 15%;
  left: 5%;
  ul li {
    #humainsScore {
      opacity: 0;

      margin: 0;
      position: relative;
      top: 55px;
      left: -5px;
      font-size: 130px;
      font-weight: bolder;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(transparent, transparent),
        url("https://i.ibb.co/7QRzcys/texture-typo.jpg") repeat;
      background: -o-linear-gradient(transparent, transparent);
      background-size: 180px 180px;
      -webkit-background-clip: text;
      line-height: 230px !important;
    }
    #contenuScore {
      opacity: 0;
      position: relative;
      left: 30px;
      line-height: 18px;

      font-size: 14px;
      text-transform: uppercase;
      color: rgba(94, 94, 94, 0.8);
      font-weight: lighter;
      letter-spacing: -0.3px;
    }
  }
}
