/* circular black */

@font-face {
  font-family: "circular-black";
  font-style: normal;
  font-weight: 400;
  src: url("../../../static/assets/font/circular_font/woff/circular-black.woff")
    format("woff");
}
