/* header */
header {
  .intro {
    position: absolute;
    left: 8%;
    top: 12%;
    text-align: right;
    color: rgba(94, 94, 94, 0.8);
    text-transform: uppercase;
    font-size: 14px;
  }
  .carte {
    position: absolute;
    right: 8%;
    top: 6%;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(94, 94, 94, 0.8);
    a {
      color: rgba(94, 94, 94, 1);
      text-decoration: none;
      transition: color 0.2s;
      border-bottom: 1px solid rgba(25, 25, 25, 0.9);
      padding: 3px 0;
      &:hover {
        color: black;
      }
    }
  }
}
