body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'circular-black', sans-serif; }

#loader {
  position: absolute;
  background-color: #f6f7f4;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0; }
  #loader h2 {
    text-align: center;
    position: absolute;
    width: 100px;
    margin-left: -100px;
    left: 50%;
    top: 43%;
    font-size: 15px;
    opacity: 0.5; }

.svg {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 19vh;
  left: 19%;
  margin-left: auto;
  text-align: center;
  display: block;
  margin: auto;
  opacity: 0.0; }

.intro {
  position: absolute;
  left: 8%;
  top: 12%;
  text-align: right;
  color: rgba(94, 94, 94, 0.8);
  text-transform: uppercase;
  font-size: 14px; }

.buttons ul {
  list-style: none;
  position: absolute;
  bottom: 12%;
  left: 8%;
  padding: 0;
  margin: 0; }

#contenuScore {
  opacity: 0;
  position: relative;
  left: 30px;
  line-height: 18px; }

h2 {
  line-height: 18px; }

#humainsScore {
  opacity: 0; }

.buttons ul li {
  line-height: 0px; }
  .buttons ul li .title {
    margin: 0;
    position: relative;
    top: 55px;
    left: -5px;
    font-size: 130px;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(../assets/img/texture_typo/texture_typo.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    background-size: 180px 180px;
    -webkit-background-clip: text;
    line-height: 230px !important; }
  .buttons ul li h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(94, 94, 94, 0.8);
    font-weight: lighter;
    letter-spacing: -0.3px; }
  .buttons ul li strong, .buttons ul li .intro strong {
    color: black;
    /*#4e4e4e;*/
    opacity: 0.8; }

.carte {
  position: absolute;
  right: 8%;
  top: 6%;
  font-weight: lighter;
  font-size: 14px;
  color: rgba(94, 94, 94, 0.8); }
  .carte a {
    color: #5e5e5e;
    text-decoration: none;
    transition: color 0.2s;
    border-bottom: 1px solid rgba(25, 25, 25, 0.9);
    padding: 3px 0; }
    .carte a:hover {
      color: black; }

.source {
  position: absolute;
  right: 3%;
  bottom: 4%;
  color: rgba(94, 94, 94, 0.5);
  font-size: 10px; }
  .source p {
    margin: 0;
    position: relative;
    top: 14px;
    right: 8px; }
  .source ul {
    float: left;
    margin: 0; }
    .source ul li {
      list-style: none;
      line-height: 18px; }
  .source a {
    text-decoration: none;
    color: rgba(94, 94, 94, 0.4); }
